
/*--------------Header Content------------- */
header {
	background-color: #f31b1b;
	padding: 5px 0;
	display: flex;
	align-items: center;
	max-width: 1000px;
	margin: 0 auto;
	border-bottom: 1px solid #bbb;
}

.logo {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

.logo img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
}

.headings h1 {
	font-size: 1.5rem;
}

.m {
	letter-spacing: 1pt;
	color: #141414;
	font-weight: 700;
	font-size: 0.8rem;
}

.social {
	margin-right: 1.5rem;
}

.social svg {
	width: 25px;
	height: auto;
}
nav {
	margin: 0 auto;
	max-width: 760px;
	
}

.navigation {
	list-style: none;
	padding: 0;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: right;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham::before {
	content: "";
}
.responsive li {
	display: inline-flex;
}

.responsive a.ham::before {
	content: " ";
}

/*------------Main Body------------*/
h1,h2,h3,h4,h5{
	font-family: 'Cantarell', sans-serif;
	font-weight: 700;
}
p,div,section,figure,caption,a,img,footer{
	font-family: 'Cantarell', sans-serif;
	font-weight: 400;
}
body{
    background-color: rgb(242, 248, 72);
}
img#fruitSpread1{
	width: 100%;
	max-height: 275px;
	z-index: -1;
	position: absolute;
	top: -100px;
	
}
img#fruitSpread2{
	width: 100%;
	max-height: 300px;
	z-index: -1;
	position: relative;
}
main#index{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
main div.summary{
	display: grid;
	background-color: white;
	width:30em;
	grid-column: 1/2;
	margin:30px 10% 0px 30px;
	border: 10px solid lightgreen;

	
}
main div.weather{
	display: grid;
	background-color: white;
	width:30em;
	grid-column: 2/4;
	margin:30px 30px 0px 10%;
	border: 10px solid lightgreen;

	
}
main div.fresh{
	display: grid;
	background-color: white;
	width:100%;
	grid-column: 1/4;
	margin-top:30px;
	text-align: center;
	border: 10px solid lightgreen;

}
div.fresh a#action-drink{
	font-size: larger;
}
footer img.footerlogo{
	display:block;
	margin-bottom: 10px;
	margin-left:50%
}
footer{
	text-align: center;
}

/*------------About Us page----------*/
h1,h2,h3{
	text-align: center;
}
div.ProfileCard {
    /* Center the content */
    align-items: center;
	text-align: center;
    display: block;
    justify-content: center;
	width: 50%;
	margin-left: 25%;
}

img.ProfileImage {
    display: block;
    height: 10%;
    width: 10%;
	border-radius: 50%;
	margin-bottom: 20px;
	margin-left: 45%;
}
div#Carlsbad-Map{
	margin-left: 25%;
}
/*----------Fresh Page-----------*/
h2#join_title{
	text-align: center;
}
h3#join_subtitle{
	text-align: center;
}
div#drinks-grid-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
div#user-drink{
	background-color: white;
	border:10px solid lightgreen;
	width: 100%;

}
div#receipt{
	background-color: white;
	border:10px solid lightgreen;
	width: 100%;
	margin-left: 40%;
}
img#fruit-drinks{
	margin-left: 23%;
}
button#submitForm{
	margin-left: 33%;
	margin-top: 5px;
}
